<div class="mat-elevation-z8" style="margin: 15px">
  <mat-spinner style="margin: 0 auto" *ngIf="isLoading"></mat-spinner>
  <table mat-table [dataSource]="dataSource">
    <!-- Nom navire Column -->
    <ng-container matColumnDef="vessel">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef>
        Nom du navire
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.vessel }}
      </td>
    </ng-container>

    <ng-container matColumnDef="contrat">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef>
        Numéro contrat
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.cargoContract }}
      </td>
    </ng-container>

    <ng-container matColumnDef="laycanjl">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef>Laycan JL</th>
      <td mat-cell *matCellDef="let element">
        {{ element.lpLaycanStart | date: "dd/MM/yyyy" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let element">
        {{ element.consumerId }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bl">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef>BL</th>
      <td mat-cell *matCellDef="let element">
        {{ element.quantity }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tas">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef>TAS</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 3px" *ngFor="let zone of element.zones">
          {{ zone.zoneAreaname }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="zone">
      <th class="tableHeader" mat-header-cell *matHeaderCellDef>Zone</th>
      <td mat-cell *matCellDef="let element">
        <div style="padding: 3px" *ngFor="let zone of element.zones">
          {{ zone.zoneStart }} - {{ zone.zoneEnd }}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    style="margin-top: 20px"
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangePaging($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
